*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.containerImc{
    display: flex;
    flex-direction: column;
    background: #f6f9f7;
    width: 20%;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000;
}
.institucional{
    background: #E6B325;
    width: 100%;
    padding: 5%;
    text-align: center;
    color: #61481C;
    font-weight: bold;
    font-size: 2rem;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #61481C;
    width: 100%;
    height: 8%;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: solid 5px  #E6B325;
}
.dadosForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 35%;
    flex-direction: column;
    padding: 5%;
}
label{
    color: #61481C;
}
input{
    display: flex;
    width: 90%;
    height: 5%;
    justify-content: space-between;
    align-items: center;
}
.input input{
    width: 100%;
    height: 80%;
    border-radius: 8px;
    border: 1px solid #dbf3f0;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
}
input::placeholder{
    font-size: 0.8rem;
    color: #61481C;
}
.input label{
    font: bold 1rem serif;
}
.calcular{
    width: 85%;
    height: 5%;
    font: bold 1rem serif;
    background-color: #E6B325;
    border: solid 1px #E6B325;
    color: #61481C;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.calcular:hover{
    background-color: #ffffff;
    color: #E6B325;
    border: solid 1px #E6B325;
}

.limpar{
    width: 85%;
    height: 5%;
    font: bold 1rem serif;
    background-color: rgb(235, 86, 86);
    color: #ffffff;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px rgb(240, 167, 167);
}
.limpar:hover{
    background-color: #ffffff;
    color: rgb(240, 167, 167);
    border: solid 1px rgb(240, 167, 167)red;
}
.result{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 90%;
    height: 150px;
    border-radius: 5px;
    font: italic 1rem serif;
    box-shadow: 0 0 10px #61481C;
    background: #E6B325;
    color: #61481C;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
}
.btnCurso{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    align-items: center;
    padding: 3%;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgTitle{
    width: 40%;
}
.card-body{
    text-align: center;
}
@media (max-width: 768px){
    .containerImc{
        width: 80%;
    }
}